{% extends 'base.html' %}
{% block title %}
{{article.title}}
{% endblock %}
{% block body %}
<div class="container">
    <h1>
        {{article.title}}
    </h1>
    <div class="alert alert-info">
        <p>{{article.intro}}</p>
        <p>{{article.text}}</p>
        <p><b>Date: {{article.date.strftime("%Y-%m-%d %H:%M")}}</b></p>
        <a href="/posts" class="btn btn-warning">Back</a>
        <a href="/posts/{{ article.id }}/delete" class="btn btn-danger">Delete</a>
        <a href="/posts/{{ article.id }}/update" class="btn btn-success">Update</a>
    </div>
</div>
{% endblock %}
